.detailsContainer {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.backBtn {
  align-self: flex-start;
  margin-left: 1rem;
  background: none;
  border: none;
  color: #0078d4;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.detailsCard {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  width: 80%;
  max-width: 600px;
}

.notFound {
  font-size: 1.2rem;
  color: #777;
}

.editBtn,
.saveBtn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #0078d4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  width: 5rem;
}

.editBtn:hover {
  background: #005ba1;
}

.saveBtn:hover{
  background: #005ba1;
}

.editInput,
.editTextarea {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}



.deleteBtn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #d9534f;
  width: 5rem;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  margin-left: 2rem;
}

.deleteBtn:hover {
  background-color: #c9302c;
  color: white;
}